@import 'variables';
@import 'mixins';

.slider-field {

  &__track {
    background-color: $light-gray;
    height: 3px;

    &-before {
      background-color: $primary
    }
  }

  &__labels {
    padding-top: 24px;
    position: absolute;
    width: 100%;
  }

  &__label {
    display: inline-block;
    position: absolute;
    transform: translateX(-50%);
    max-width: 64px;
    cursor: pointer;

    @media screen and (min-width: map-get($breakpoints, sm)) {
      max-width: 72px;
    }
    
    &-text {
      text-align: center;
      font-size: 0.65rem;
      
      @media screen and (min-width: map-get($breakpoints, sm)) {
        font-size: 0.75rem;
      }

      &--selected {
        color: $primary
      }
    }
  }

  &__ticks {
    position: absolute;
    width: 100%;
    top: -3px;
    z-index: 1;
  }

  &__tick {
    width: 3px;
    height: 3px;
    background-color: $primary;
    position: absolute;
    display: inline-block;
    transform: translate(-50%, 50%);
    border-radius: 50%;

    &--passed {
      background-color: $very-light-gray;
      border: 0.1px solid $primary;
    }
  }
}