.catalog-photo-modal {
  position: absolute;
  background-color: #fff;
  // box-shadow: ;
  max-height: 80vh;
  max-width: 80vw;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  &__catalog-photo {
    max-height: 80vh;
    max-width: 80vw;
  }
}
