@import 'variables';

.project-scope-option-box {
  $gp: &;
  text-align: center;
  border: 1px solid #848484;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  opacity: 0.7;
  width: 100%;

  &--opaque {
    opacity: 1;
  }

  &--no-cursor {
    cursor: auto;
  }

  &--highlight-on-hover {
    &:hover {
      opacity: 1;
      border-color: #ff9e3c;
      box-shadow: 2px 2px 6px $bg-color2;
    }
  }

  &__option-top {
    padding: 20px;
    flex: 1;

    &--centered {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &--mobile {
      padding: 8px 12px 12px;
    }
  }

  &__option-bar {
    margin: 12px 0;
    height: 20px;
    border: none;

    &--mobile {
      margin: 6px 0;
      height: $spacing-unit * 2
    }
  }

  &__option-bottom {
    height: 36px;

    &--mobile {
      height: 30px;
    }
  }

  &__option-button {
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 0.1rem;

    color: $primary;
    background: $bg-color1;
    box-shadow: none;
    border-top: 1px solid $border-color;

    #{$gp}:hover & {
      background: $primary;
      color: $bg-color1;
      border-top: none;
    }

    &--mobile {
      padding: 4px 16px;
      min-height: 30px;
    }
  }

  &__text {
    line-height: 1.2em;
    padding: 8px 0; //padding until we add what's included back in.

    &--help {
      font-size: 11px;
    }

    &--link {
      text-decoration: underline;
      font-size: 11px;
      padding: $spacing-unit;
    }
  }
}
