@import 'variables';

.project-scope-option-box {
  $gp: &;
  text-align: center;
  border: 1px solid #848484;
  border-radius: 4px;
  cursor: pointer;
  // display: flex;
  // flex-direction: column;
  opacity: 0.7;
  width: 100%;

  &--opaque {
    opacity: 1;
  }

  &--no-cursor {
    cursor: auto;
  }

  &--highlight-on-hover {
    &:hover {
      opacity: 1;
      border-color: #ff9e3c;
      box-shadow: 2px 2px 6px $bg-color2;
    }
  }

  &__option-top {
    padding: 12px 20px;
    height: 130px;

    @media screen and (max-width: map-get($breakpoints, sm)) {
      padding: 12px 14px;
      height: 142px;
    }
    // flex: 1;

    &--centered {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &--mobile {
      padding: 8px 12px 12px;
      height: 136px;
    }
  }

  &__option-bar {
    margin: 12px 0;
    height: 20px;
    border: none;

    &--mobile {
      margin: 6px 0;
      height: $spacing-unit * 2
    }
  }

  &__option-bottom {
    height: 40px;

    &--mobile {
      height: 31px;
    }

    #{$gp}__option-button {
      border-top: 1px solid $border-color;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  &__option-top-button {
    height: 40px;

    &--mobile {
      height: 31px;
    }

    #{$gp}__option-button {
      border-bottom: 1px solid $border-color;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  &__option-button {
    height: 100%;
    text-transform: uppercase;
    font-weight: 999;
    letter-spacing: 0.1rem;
    color: $primary;
    background: $bg-color1;
    box-shadow: none;

    #{$gp}:hover & {
      background: $primary;
      color: $bg-color1;
      border-top: none;
    }

    &--mobile {
      padding: 4px 16px;
      min-height: 30px;
    }
  }

  &__include-button {
    height: 100%;
    text-transform: uppercase;
    font-weight: 999;
    letter-spacing: 0.1rem;
    color: $primary !important;
    background: $bg-color1;
    box-shadow: none;
    border-top: 1px solid $border-color;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 0.75rem;

    &--mobile {
      padding: 4px 16px;
      min-height: 30px;
    }

    &:hover {
      background: $very-light-gray;
    }
  }

  &__text {
    line-height: 1.2em;
    padding: 4px 0;

    &--help {
      font-size: 11px;
    }
  }
}
