@import 'variables';
@import 'mixins';

require('../../config/colors');

.coupon-form {
  padding-bottom: 20px;
  margin: 0 auto;

  &__label {
    font-size: 13px;
    padding-right: 10px;
  }

  &__input {
    height: 33px;
    vertical-align: inherit;
    background-color: #ffffff;
    border-radius: 6px;

    @include media('<=md') {
      width: 30%;
    }
  }

  &__input-field {
    padding: 9px 14px;
    font-size: 0.8rem;
  }

  &__btn {
    box-shadow: none;
    margin-left: 10px;
    border-radius: 4px;
    width: 15%;

    @include media('<=md') {
      width: 12%;
    }
    @include media('<=sm') {
      width: 24%;
    }
  }

  &__error {
    font-weight: 500;
  }

  &__final-amount {
    color: $PRIMARY;
    font-weight: 500;
  }
}