@import 'variables';
@import 'mixins';

.drop-down-menu-btn {

  &__btn {
    padding: 4px 10px;
    min-height: 32px;
    margin: 4px 6px;
    font-size: 0.75rem;

    @media screen and (min-width: map-get($breakpoints, sm)) {
      padding: 6px 16px;
      font-size: 0.85rem;
      margin: 4px 12px;
    }

    &--active {
      border: 1px solid $primary;
    }

    &-label {
      font-size: 0.85em;
      font-weight: 600;

      &--active {
        color: $primary;
      }
    }

    &:first-of-type {
      margin: 4px 6px 4px 0;

      @media screen and (min-width: map-get($breakpoints, sm)) {
        margin: 4px 12px 4px 0;
      }
    }
  }

  &__paper {
    min-width: 220px;
    // might not fit from bottom of button to bottom of screen, so reduce the menu height:
    max-height: 350px;
    height: calc(100vh - 370px);

    @media screen and (min-width: 550px) {
      max-height: 400px;
      height: calc(100vh - 320px);
    }
  }

  &__popper {
    z-index: 2;
  }
}
