.about-the-company {
  font-size: 1rem;
  text-align: center;

  &__title {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    text-transform: uppercase;

    strong {
      font-weight: 1000;
    }
  }

  &__paragraph {
    margin: 1rem 0;
  }
}
