@import 'variables';

.team-member {
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: center;
  padding: 1rem;

  &__photo {
    margin-bottom: 1rem;
  }

  &__position {
    font-weight: 1000;
    margin-bottom: 1rem;
  }

  &__dream-space {
    font-weight: 1000;
    margin-bottom: 1rem;
    text-transform: uppercase;
    white-space: nowrap;

    // move it off screen, but still show it in the DOM
    position: absolute;
    transform: translateX(100vw);

    @media screen and (min-width: 1400px) {
      position: relative;
      transform: translateX(0);
    }
  }

  &__home-area-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after {
      border-bottom: 3px solid $primary;
      content: '';
      display: block;
      width: 36px;
    }
  }

  &__home-area-icon {
    color: $icon-color;
    height: 36px;
    width: 36px;
  }
}
