@import 'variables';
@import 'mixins';

.costIt {
    width: 37%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 13vw;
    transform: translateY(-50%);
    font-size: 100%;
    color: #444;
  }

  .costItTitle {
    font-size: 200%;
    padding-bottom: 2vh;
    opacity: 0;
    position: relative;
    top: 3vh;
    transition: opacity 1s ease-out, top .5s ease-out;
  }

  .costItBody, .costItButton {
    opacity: 0;
    position: relative;
    top: 3vh;
    transition: opacity 1s ease-out, top .5s ease-out;
  }

  .costItBody {
    transition-delay: 0.15s;

    img {
      display: inline-block;
      height: 20px;
      vertical-align: bottom;
    }
  }

  .costIt.onStep .costItTitle,
  .costIt.onStep .costItBody,
  .costIt.onStep .costItButton {
    opacity: 1;
    top: 0;
  }

  .laptop {
    width: 58%;
    height: 27vw;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    perspective: 80vw;

    @include media ('<=sm') {
      width: 90vw;
      height: 37vh;
      margin: 0px;
      perspective: 200vw;
    }
  }

  .laptopContent {
    left: 3.9%;
    top: 6%;
    width: 93%;
    position: absolute;
    border: none;
  }

  .laptopScreen {
    background-size: cover;
    transform: rotateX(-90deg);
    transform-origin: 0 100%;
    transition: transform 1s ease, margin 1s ease;
    margin: 0 12%;
    position: relative;
  }

  .laptopScreen.onStep {
    transform: rotateX(10deg);
    margin: 0 12%;
  }
