@import 'variables';
@import 'mixins';

.logo {
  font-size: 0;
  line-height: 0;
  color: $primary;
  text-align: left;

  &__image {
    max-height: $logo-height;
    height: 32px;
    width: auto;
    margin: 0;

    &--shortened, &--beta {
      height: $logo-height;
    }
  }
}
