@import 'variables';
@import 'common-mixins';

.help-link-button {
  height: 24px;
  width: 24px;

  &--size-16 {
    height: 16px;
    width: 16px;
  }

  &--size-32 {
    height: 32px;
    width: 32px;
  }

  &--left-margin {
    margin-left: 3px;
  }

  &--right-margin-16 {
    margin-right: 16px;
  }

  &--blink {
    @include blinking-with-color(5, $primary, 1s);
  }

  &--highlighted {
    color: $primary;
  }
}
