@import 'variables';

@mixin about-us-hero-background-image {
  $image-url: 'https://emprove-public-images.imgix.net/orange_house_hero.jpg';
  background-image: url('#{$image-url}?w=500');
  @media screen and (min-width: 500px) {
    background-image: url('#{$image-url}?w=700');
  }
  @media screen and (min-width: 700px) {
    background-image: url('#{$image-url}?w=1000');
  }
  @media screen and (min-width: 1000px) {
    background-image: url('#{$image-url}?w=1400');
  }
  @media screen and (min-width: 1400px) {
    background-image: url('#{$image-url}?w=1733');
  }
  @media screen and (min-width: 1733px) {
    background-image: url('#{$image-url}');
  }
}

.about-us-hero {
  align-items: center;
  @include about-us-hero-background-image;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 40vh;
  justify-content: center;
  text-align: center;

  @media screen and (min-width: 600px) {
    height: 400px;
  }

  &__title {
    color: #fff;
    font-size: 2rem;
    font-weight: 1;
    position: relative;

    strong {
      font-weight: 1000;
    }

    &:after {
      border-top: 5px solid #ff9e3c;
      bottom: -1rem;
      content: '';
      display: inline-block;
      left: 32.5%;
      position: absolute;
      width: 35%;
    }
  }
}

.about-us-hero-watch-how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  &__icon {
    height: 48px;
    width: 48px;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.5rem;

    strong {
      font-weight: 500;
    }
  }
}
