.about-us-hero {
  align-items: center;
  background-image: url('/images/home_improvement_renewed.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 40vh;
  justify-content: center;
  text-align: center;

  @media screen and (min-width: 600px) {
    height: 400px;
  }

  @media screen and (min-width: 1400px) {
    background-position: 50% 15%;
  }

  &__title {
    color: #fff;
    font-size: 2rem;
    font-weight: 1;

    strong {
      font-weight: 1000;
    }
  }
}
