@import 'variables';

.information-button {
  width: 24px;
  height: 24px;
  color: $icon-color;
  padding: 0;

  &--size-16 {
    width: 16px;
    height: 16px;
  }

  &--size-14 {
    width: 14px;
    height: 14px;
  }

  &--size-12 {
    width: 12px;
    height: 12px;
  }
}
