.add-to-calendar {
  &__icon {
    color: #888888;
  }

  &__icon-button {
    height: 36px;
    width: 36px;
  }

  &__menu-list {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__menu-item {
    height: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
