.terms-content {
  &--paragraph {
    margin: 0;
    color: #888;
    text-align: 'justify';
  }
  &--centered-text {
    display: 'block';
    font-weight: 500;
    text-align: 'center';
  }
  &--unordered-list {
    padding-left: 40px;
  }
  &--link {
    text-decoration: 'underline';
    color: '#ff9e3c';
  }
}
