@import 'variables';

$tablet-breakpoint: 600px;
$desktop-breakpoint: 1000px;

.footer-index {
  display: flex;
  flex-direction: column;
  align-items: space-between;

  @media screen and (min-width: $tablet-breakpoint) {
    align-items: stretch;
  }

  @media screen and (min-width: $desktop-breakpoint) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.footer-index__grouped-sections {
  display: flex;
  flex-direction: column;
  flex: 1;

  @media screen and (min-width: $tablet-breakpoint) {
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: $spacing-unit * 4;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $desktop-breakpoint) {
    margin-bottom: 0;
  }
}

.footer-index__section {
  margin-bottom: $spacing-unit * 4;

  @media screen and (min-width: $tablet-breakpoint) {
    flex: 1;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop-breakpoint) {
    flex: none;
    margin-right: auto;

    &--no-right-margin {
      margin-right: 0;
    }
  }
}

.footer-index__section-name {
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: 500;
  margin-bottom: $spacing-unit * 2;
}

.footer-copyright-and-social {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;

  @media screen and (min-width: $tablet-breakpoint) {
    flex-direction: row;
    justify-content: space-between;

    &___social-media-links {
      display: flex;
      align-items: flex-end;
    }

    &__copyright {
      order: -1;
    }
  }
}
