@import 'variables';

.press-article {
  font-size: 1rem;
  padding: 1rem 2rem;

  &__title {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__snippet {
    text-align: justify;
    margin-bottom: .75rem;
  }

  &__full-story-link {
    font-size: .75rem;
    font-weight: 600;
    color: $body-color;
    text-transform: uppercase;

    &:hover {
      color: $primary;
    }
  }
}
