@import 'variables';

.press-media {
  &__link-box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary;
  }

  &__down-icon-button {
    cursor: pointer;
    color: $primary;
  }
}
