require('../../../../config/colors');

.press-media {
  &__link-box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $PRIMARY;
  }

  &__down-text {
    cursor: pointer;
  }

  &__down-icon-button {
    cursor: pointer;
    color: $PRIMARY;
  }
}
