@import 'variables';

.dream-it-link {
  position: absolute;
  top: -48px;
  right: 0;
  height: 48px;
  display: flex;
  align-items: center;

  &--disabled {
    pointer-events: none;
  }

  &__icon {
    color: #fff;
  }

  a {
    padding: 14.5px 0 14.5px 1rem;
    color: #fff;
    font-weight: 1000;
    text-transform: uppercase;

    &:hover {
      color: $primary;
    }
  }
}
