@import 'variables';
@import 'mixins';

.footer-copyright {
  &__logo-overline {
    border-bottom: 6px solid $primary;
    width: 32px;
  }

  &__container {
    display: block;
    margin: 12px 0;

    @include media('>=sm') {
      display: inline-block;
      margin: 0;
    }

    &--bbb {
      margin-top: 24px;
      top: 0;

      @include media('>=sm') {
        margin-left: 24px;
        position: relative;
        top: 12px;
      }
    }
  }

  &__logo-container {
    text-align: center;
    margin-bottom: $spacing-unit;
    margin-top: $spacing-unit;

    @media screen and (min-width: 600px) {
      text-align: left;
    }
  }

  &__logo {
    display: inline-block;
  }

  &__logo-image {
    height: 48px;
  }

  &__copyright-declaration {
    font-size: .75rem;
    text-align: center;

    a {
      color: $body-color;

      &:hover {
        color: $primary;
      }
    }
  }

  &__bbb-logo {
    display: block;
    position: relative;
    overflow: hidden;
    width: 60px;
    height: 98px;
    margin: 0;
    padding: 0;

    @include media('<sm') {
      margin: auto !important;
    }

    &-image {
      padding: 0;
      border: none;
      width: 120px;
      height: 98px;
    };
  }
}